# Compiled class file
*.class
*.classpath
*.project

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

/bin/
/build/
target/

# Individual eclipse & idea settings
/.settings
/.idea
.DS_Store
*.iml